h1 {
	font-family: "Raleway", sans-serif;
	color: #ffffff;
	font-weight: 400;
	font-size: 45px;
	letter-spacing: 1px;
	margin: 0;
}

a{
	font-family: "Raleway", sans-serif;
	color: #fff;
	font-weight: 600;
	font-size: 18px;
	letter-spacing: 1px;
	text-decoration: none;
	margin: 20px;
	border-bottom: 2px solid transparent;
}
a:hover {
	border-color: #fff;
}


h2{
	font-family: "Raleway", sans-serif;
	color: #0d2c40;
	font-weight: 600;
	font-size: 20px;
	letter-spacing: 1px
}
.scoreStyle {
	font-family: "Raleway", sans-serif;
		color: #313978;
	font-weight: 600;
	font-size: 20px;
	letter-spacing: 1px
}

p {
	font-family: "Droid Serif", serif;
	line-height: 26px;
	font-size:18px;
}
body {
	text-align: center;
	margin: 0;
}
header{
	background-color: #F15B31;
	color:#ffffff;
	padding:30px,20px,30px,20px;
}
nav{
	background-color: #00A6B3;
	color:#fff;
	padding-top:20px;
	padding-bottom: 20px;
}

main{
	width: 850px;
	margin-top:35px;
	margin-bottom: 35px;
	margin-left: auto;
	margin-right: auto;
}
img{
	margin-top: 40px;
	margin-left: 8px;
	margin-right: 8px;
}
footer{
	font-family: "Raleway", sans-serif;
	text-transform: uppercase;
	padding:0 20px;
	background-color: #0D2c40;
	color:white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight:500;
}
.copyright{
	float:left;
} 
.message{

	
	float:right;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}
.name{
	color: #f15b31;
	font-weight: 700;
}








